{% extends "audio/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="content">
{% for clip in clip_list %}
		<div class="audio_entry clip{{ clip.id }}" data-url="{{ clip.source_url }}">
			<div class="play_button {% if clip.jlistened %}listened{% endif %}">
				<audio controls src="{{ clip.source_url }}" width="25" height="30"></audio>
			</div>
			<div class="audio_metadata">
				<h3>{{ clip.page_title }}</h3>
			</div>
			<div class="audio_delete">
				<a href="#" onclick="deleteAudio({{ clip.id }})"><img src="{% static "img/closebutton.png" %}" /></a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}