#content {
	max-width: 960px;
	width: 80%;
	margin: 0px auto;
}

.audio_entry {
	padding: 20px 0px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}

.audio_entry h3 {
	font: 600 20px 'Raleway';
	margin-bottom: 4px;
}

.audio_entry h4 {
	font: 600 14px 'Raleway';
	color: #888;
	margin: 0px;
}

#pagetitle {
	font: 900 48px 'Raleway';
}